.introWrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
        'left-column right-column'
        ;
}

.navWrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

a{
	color:var(--mainText);
}


.navigation{
	margin:0;
	padding: 10px;
}

li{
	display: inline-block;
	margin-right: 20px;
	margin-left:20px;
}

li a:hover {
	cursor: pointer;
}

.dotsWrapper{
	display: flex;
	padding: 10px;
}

.browserDot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
.dot1{
	background-color:  #FC6058;
}
.dot2{
	background-color:  #FEC02F;
}
.dot3{
	background-color:  #2ACA3E;
}

.leftColumn{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

.profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
	object-fit: cover;
	border:2px solid var(--borderColor);
}
.h5{
	text-align: center;
	line-height: 0;
	font-weight: 700;
}

.themeOptionsWrapper{
	display: flex;
	justify-content: center;
}

.themeDot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


.lightMode{
	background-color: #fff;
}

.blueMode{
	background-color: #192734;
}

.greenMode{
	background-color: #78866b;
}

.purpleMode{
	background-color: #7E4C74;
}

.settingsNote{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.rightColumn{
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}


.previewShadow{
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

.preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

.cornerTl{
	top:-5px;
	left: -5px
}

.cornerTr{
	top:-5px;
	right: -5px
}


.cornerBr{
	bottom:-5px;
	right: -5px
}


.cornerBl{
	bottom:-5px;
	left: -5px
}

@media screen and (max-width: 800px){
	.introWrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	.previewShadow{
		max-width: 280px;
		height: 180px;
		padding-left: 30px;
		padding-top: 10px;
	}

	.preview{
		width: 280px;

	}

}